<div class="page">
  <div class="top-bar">
    <h1 class="title">Gondor Chic</h1>
    <ng-container *ngIf="!user">
      <div class="auth-container">
        <input type="text" placeholder="Pseudo" class="input" [(ngModel)]="usernameInput" />
        <input type="password" placeholder="Mot de passe" class="input" [(ngModel)]="passwordInput" />
        <button class="btn" (click)="login()">S'identifier</button>
      </div>
    </ng-container>
    <ng-container *ngIf="user" >
      <span class="user-info">
        <button class="btn-avatar" (click)="logout()">
          <img [src]="user.image_url" alt="Avatar" class="avatar" />
        </button>
<!--        <img src="assets/img/avatar.png" alt="Avatar" class="avatar" />-->

      </span>
    </ng-container>
  </div>

  <div class="content">
    <div class="left">
      <h1 class="title">Gondor Chic</h1>
       <p class="bienvenue" *ngIf="user">
        Bonjour {{ user.prenom }} {{ user.nom }}
      </p>
      <p class="subtitle" *ngIf="!user">
        vous ouvre les portes de l'enchantement
      </p>
      <div class="description">
        <span>
          <b class="bold">Découvrez les produits de la Terre du Milieu :</b> poudres de fée <br/> des bois de Lothlórien,
          chemises de mithril forgées à<br/> Fondcombe, potions des Istari, et bien plus encore.
        </span>
        <span>
          <b class="bold">Commandez en ligne ou par papillon voyageur,</b> et recevez<br/> vos artefacts sans quitter
          votre tour ou tanière.
        </span>
      </div>
    </div>

    <div class="right">
      <h2 class="offre-titre">Produit du jour</h2>
      <div class="product-card">
        <img [src]="product?.image" [alt]="product?.name" class="image" />
        <p class="product-name">{{ product?.name}}</p>
        <div class="product-info">
          <span>{{ product?.price}} €</span>
          <span>Stock: {{ product?.stock}}</span>
        </div>
        <input
          type="number"
          min="1"
          [(ngModel)]="quantite"
          placeholder="Quantité"
          class="input"
          *ngIf="user"
        />
        <button class="btn-left" (click)="addToCart()" *ngIf="user">
          Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</div>
